*.log
.cache
.DS_Store
src/.temp
package-lock.json
node_modules
dist
.env
.env.*

compatibility-list/importer/*.js
compatibility-list/importer/*.js.map
compatibility-list/infrastructure/provider.tf
compatibility-list/infrastructure/.terraform.lock.hcl
**/.terraform/*
compatibility-list/infrastructure/*.tfstate
compatibility-list/infrastructure/*.tfstate.*
compatibility-list/infrastructure/override.tf
compatibility-list/infrastructure/override.tf.json
compatibility-list/infrastructure/*_override.tf
compatibility-list/infrastructure/*_override.tf.json
